$belt-color: #a31e22;
$buckle-color: blue;
$suit-yellow: #f8c90f;
$suit-yellow-hilight: #ffdb30;
$suit-blue: #1e3056;
$suit-blue-hilight: #284573;
$claws: #e5e5e4;
$skin: #e9ae78;
$mouth-cavity: #bf5645;
$tongue: #d2785f;
$teeth: #fff;
$hair: #a97549;

.ui-avatar {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin abs-center() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
@mixin drop-shadow() {
  filter: drop-shadow(30px 0 5px rgba(#000, 0.2));
}
HTML {
  font-size: 10px;
  @media screen and (max-width: 400px) {
    font-size: 5px;
  }
  @media screen and (min-width: 401px) and (max-width: 1000px) {
    font-size: 6px;
  }
}

.ref {
  @include abs-center;
  width: 80rem;
  height: 60rem;
  border: 1px solid;
  display: none;
}


.wrapper {
  width: 50%;
  height: 50%;
  @include abs-center;
  z-index: 4;
  transform: scale(0.4);
}

.wolverine {
  width: 34.2rem;
  height: 40.6rem;
  @include abs-center;


  &-body {
    $body-w: 11rem;
    $body-h: 24rem;
    width: $body-w;
    height: $body-h;
    @include abs-center;
    left: -0.8rem;
    border-radius: $body-w;
    @include drop-shadow;
  }
  &-torso {
    $torso-w: 11rem;
    width: 100%;
    height: 80%;
    background: $suit-yellow;
    position: absolute;
    border-radius: $torso-w $torso-w 0 0;
    .peck {
      height: 40.5%;
      background: $suit-yellow-hilight;
      position: absolute;
      top: 26.5%;
      .shoulderpad {
        background: $suit-blue;
        position: absolute;
        z-index: -1;
        &::before {
          content: "";
          width: 65%;
          height: 24%;
          position: absolute;
          background: $suit-blue-hilight;
          top: 0.5rem;
          z-index: -1;
        }
      }
      &::before {
        content: "";
        width: 100%;
        background: $suit-yellow;
        position: absolute;
        transform: translateY(calc(-100% + 1.5rem));
        z-index: -1;
      }
      &.left {
        width: 76%;
        left: -15%;
        border-radius: 0 1.3rem 1.3rem 1.8rem;
        &::before {
          height: 90%;
          border-radius: 100% 0 0 0;
        }
        .shoulderpad {
          width: 60%;
          height: 75%;
          transform: translateX(calc(-100% + 15%));
          border-radius: 0 0 0 100%;
          &::before {
            width: 65%;
            right: 14%;
            border-radius: 1rem 0 0 1rem;
          }
        }
      }
      &.right {
        width: 57%;
        right: -18%;
        border-radius: 1.3rem 0 1.8rem 1.8rem;
        &::before {
          height: 80%;
          border-radius: 0 100% 0 0;
        }
        .shoulderpad {
          width: 55%;
          height: 68%;
          right: 0;
          transform: translateX(calc(100% - 18%));
          border-radius: 0 0 100% 0;
          &::before {
            width: 60%;
            left: 18%;
            border-radius: 0 1rem 1rem 0;
          }
        }
      }
    }
  }
  &-belt {
    height: 3.3rem;
    width: 108%;
    background: $belt-color;
    left: -4%;
    position: absolute;
    bottom: 17%;
    .buckle {
      width: 4.4rem;
      height: 3.3rem;
      color: pink;
      box-sizing: border-box;
      border: 0.6rem solid currentColor;
      position: absolute;
      right: 2.4rem;
      overflow: hidden;
      &::before,
      &::after {
        content: "";
        width: 0.6rem;
        height: 200%;
        @include abs-center;
        background: currentColor;
        transform-origin: center center;
      }
      &::before {
        transform: rotate(55deg);
      }
      &::after {
        transform: rotate(-55deg);
      }
    }
  }
  &-crotch {
    width: 100%;
    height: 20%;
    background: $suit-blue;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 11rem 11rem;
  }
  &-leg {
    $left-leg-rotate: 50deg;
    $right-leg-rotate: -63deg;
    position: absolute;
    background: $suit-yellow;
    border-radius: 6rem;
    transform-origin: top center;
    .boot {
      height: 5rem;
      width: 3rem;
      background: $suit-blue;
      position: absolute;
      &::before {
        content: "";
        position: absolute;
        background: $suit-blue;
      }
      .chevron {
        width: 5rem;
        height: 5rem;
        position: absolute;
        left: -1rem;
        top: -1rem;
        &::before,
        &::after {
          content: "";
          width: 50%;
          height: 100%;
          position: absolute;
          background: $suit-blue;
        }
        &::before {
          border-radius: 0 5rem 5rem 0;
          transform-origin: 100% 100%;
          transform: rotate(45deg);
          top: -1.5rem;
          left: 1.4rem;
        }

        &::after {
          border-radius: 5rem 0 0 5rem;
          right: 67%;
          transform: rotate(-42deg);
          top: -2rem;
        }
      }
    }
    &.left {
      width: 5.5rem;
      height: 8rem;
      transform: rotate($left-leg-rotate);
      bottom: -4.4rem;
      .boot {
        $left-leg-rotate: $left-leg-rotate * -1;
        transform: rotate($left-leg-rotate) translateY(60%);
        bottom: -0.7rem;
        right: 0.1rem;
        &::before {
          width: 176%;
          height: 1.7rem;
          bottom: -0.6rem;
          right: -0.5rem;
          border-radius: 5rem 5rem 0 0;
        }
      }
    }
    &.right {
      width: 4.3rem;
      height: 8.5rem;
      right: 0.6rem;
      transform: rotate($right-leg-rotate);
      bottom: -5.5rem;
      .boot {
        $right-leg-rotate: $right-leg-rotate * -1;
        transform: rotate($right-leg-rotate) translateY(59%) skew(-22deg);
        bottom: 0.5rem;
        right: 2.7rem;
        &::before {
          width: 235%;
          height: 1.7rem;
          bottom: -0.6rem;
          left: -0.5px;
          transform: skew(22deg);
          border-radius: 5rem 5rem 0 0;
        }
        .chevron {
          transform: skew(22deg);
          &::before {
            display: none;
          }
          &::after {
            width: 55%;
            background: $suit-blue;
            border-radius: 5rem 0 0 5rem;
            right: 49%;
            transform: rotate(-46deg);
            top: -2.3rem;
          }
        }
      }
    }
  }
  &-head {
    width: 7.8rem;
    height: 9rem;
    background: $suit-yellow-hilight;
    position: absolute;
    top: -4.8rem;
    right: -1rem;
    left: 0;
    margin: auto;
    border-radius: 7.8rem 7.8rem 0 0;
    &::before {
      content: "";
      width: 1.3rem;
      height: 1.3rem;
      background: lighten($suit-yellow-hilight, 10%);
      border-radius: 1.3rem;
      position: absolute;
      left: 4.2rem;
      top: 1rem;
    }

    .cowl {
      &-left,
      &-right {
        height: 66%;
        position: absolute;
        background: $suit-blue;
        bottom: 0;
        &::before {
          content: "";
          background: $suit-blue;
          position: absolute;
        }
        .eye {
          width: 1.5rem;
          height: 0.7rem;
          background: #fff;
          position: absolute;
          top: 1rem;
          border-radius: 0 0 1.2rem 1.2rem;
        }
      }
      &-left {
        width: 55%;
        left: 0;
        &::before {
          width: 100%;
          height: 120%;
          transform-origin: 100% 100%;
          border-radius: 100% 0% 0% 100% / 50% 50% 0% 50%;
          transform: translateY(-100%) rotate(-45deg);
        }
        .eye {
          right: 0.5rem;
        }
      }
      &-right {
        width: 30%;
        right: 0;
        &::before {
          width: 150%;
          height: 96%;

          transform-origin: 0% 100%;
          border-radius: 0% 100% 100% 0% / 50% 50% 50% 50%;
          transform: translateY(-100%) rotate(45deg);
        }
        .eye {
          left: 0.3rem;
        }
      }
    }
    .face {
      width: 6.9rem;
      height: 3.7rem;
      background: $skin;
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 15% 15% 0% 0% / 50% 50% 0% 0%;
      .mouth {
        width: 4.3rem;
        height: 2.1rem;
        position: absolute;
        background: $mouth-cavity;
        border-radius: 50% 0% 0% 0% / 95% 50% 0% 0%;
        bottom: 0.6rem;
        left: 0.7rem;
        overflow: hidden;
        .teeth {
          width: 3.8rem;
          height: 0.7rem;
          background: $teeth;
          position: absolute;
          bottom: 0;
          left: 0;
          &::before,
          &::after {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0.4rem 0.4rem 0.4rem;
            border-color: transparent transparent $teeth transparent;
            position: absolute;
            transform: translateY(-100%);
          }
          &::before {
            right: 50%;
          }
          &::after {
            right: 0;
          }
        }
        .tongue {
          width: 2.4rem;
          height: 1.4rem;
          background: $tongue;
          position: absolute;
          bottom: 0;
          left: 0.5rem;
          border-radius: 2.4rem 2.4rem 0 0;
        }
      }
    }
  }
  &-arm {
    position: absolute;
    background: $skin;
    width: 7.3rem;
    height: 11.8rem;
    top: 2.3rem;
    border-radius: 10rem 10rem;
    z-index: -1;
    &::before,
    &::after {
      content: "";
      width: 0.7rem;
      height: 3.5rem;
      background: $hair;
      position: absolute;
      transform: rotate(90deg);
      border-radius: 1.7rem;
    }

    &.left {
      left: -3.1rem;
      transform-origin: 100% 0%;
      transform: rotate(24deg);
      &::before,
      &::after {
        left: 0.8rem;
      }
      &::before {
        top: 4.3rem;
      }
      &::after {
        top: 5.9rem;
      }
      .forearm {
        width: 80%;
        height: 15%;
        bottom: 0;
        left: 0.3rem;
        transform: rotate(5deg);
      }
      .fist {
        width: 6.5rem;
        height: 6.5rem;
        bottom: -4.4rem;
        right: 1.3rem;
        transform: rotate(5deg);
        border-radius: 100%;
        .finger {
          &:nth-child(1) {
            height: 22px;
            top: 40%;
            left: -8px;
            transform: rotate(3deg);
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            height: 1.8rem;
            transform: rotate(95deg);
            bottom: 0;
          }
          &:nth-child(2) {
            left: -0.8rem;
          }
          &:nth-child(3) {
            left: 1rem;
            bottom: -2%;
          }
          &:nth-child(4) {
            left: 2.7rem;
            bottom: -1%;
          }
        }
      }
      .wolverine-claws {
        border-radius: 0 0 1rem 0;
      }
    }
    &.right {
      height: 12.3rem;
      right: 0.3rem;
      transform-origin: 0% 0%;
      transform: rotate(-24deg);
      &::before,
      &::after {
        right: 0.8rem;
      }
      &::before {
        top: 4.6rem;
      }
      &::after {
        right: 1rem;
        top: 6.3rem;
      }
      .fist {
        width: 5.2rem;
        height: 6.3rem;
        bottom: -4.4rem;
        right: -2.1rem;
        transform: rotate(-40deg);
        bottom: -6.9rem;
        left: 0;
        margin: auto;
        transform-origin: 50% 0;
        .finger {
          &:nth-child(1) {
            height: 2.2rem;
            top: 47%;
            right: -1.1rem;
            transform: rotate(3deg);
          }
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            height: 1.8rem;
            transform: rotate(95deg);
            bottom: 0;
          }
          &:nth-child(2) {
            left: -0.8rem;
          }
          &:nth-child(3) {
            left: 1rem;
            bottom: -2%;
          }
          &:nth-child(4) {
            left: 2.7rem;
            bottom: -1%;
          }
        }
        .wolverine-claw {
          &s {
            bottom: 0;
          }
          &:nth-child(1) {
            left: 0.7rem;
            height: 8.4rem;
          }
          &:nth-child(2) {
            height: 9rem;
            left: 2.3rem;
          }
          &:nth-child(3) {
            height: 8rem;
            left: 3.8rem;
          }
        }
      }
      .forearm {
        width: 63%;
        height: 48%;
        bottom: -26%;
        left: 2.3rem;
        transform: rotate(-40deg);
      }
      .wolverine-claw {
        border-radius: 0 0 0 1rem;
        &s {
          transform: rotate(-1deg);
        }
      }
    }
    .forearm {
      background: $skin;
      position: absolute;
    }
    .fist {
      position: absolute;
      background: $suit-blue;
      .finger {
        width: 3.5rem;
        height: 2.3rem;
        background: #f00;
        position: absolute;
        border-radius: 3.5rem;
        &:nth-child(1) {
          background: lighten(desaturate(adjust-hue($suit-blue, -5deg), 3), 5);
        }
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4) {
          background: lighten(desaturate(adjust-hue($suit-blue, -5deg), 1), 3);
        }
      }
    }
  }
  &-claw {
    background: $claws;
    width: 1rem;
    height: 5rem;
    position: absolute;
    border-radius: 0 0 1rem 0;
    transition: 0.1s height linear;
    border: 1px solid rgba(#000, 0.25);
    box-sizing: border-box;
    &:nth-child(1) {
      left: 0.7rem;
    }
    &:nth-child(2) {
      height: 5.8rem;
      left: 2rem;
    }
    &:nth-child(3) {
      height: 4.8rem;
      left: 3.5rem;
    }
    &s {
      height: 0.1rem;
      width: 80%;
      background: transparent;
      position: absolute;
      bottom: 0;
      transform: rotate(7deg);
      z-index: -1;
    }
  }
}

.snikt {
  font-family: "Chelsea Market", cursive;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  opacity: 0;
  transition: 0.1s opacity linear;
  font-size: 2.4rem;
  &.left {
    left: -10%;
    transform: rotate(-15deg);
  }
  &.right {
    right: -10%;
    transform: rotate(15deg);
  }
}

h1 {
  position: absolute;
  bottom: 10rem;
  left: 0;
  right: 0;
  margin: auto;
  height: 3rem;
  font-family: "Chelsea Market", cursive;
  text-align: center;
  a {
    color: $suit-yellow;
    transition: 0.1s all ease-in-out;
    &:hover {
      color: $suit-yellow-hilight;
    }
  }
}
//animations
.wolverine {
  &-torso {
    animation: 2s breathe-torso infinite;
  }
  &-head {
    animation: 1.8s breathe-head infinite;
  }
  .peck {
    .wolverine-arm {
      &.left,
      &.right {
        .wolverine-claw {
          height: 0;
        }
      }
      &.left {
        .wolverine-claw {
          transition-delay: 0s;
        }
      }
      &.right {
        .wolverine-claw {
          transition-delay: 0.2s;
        }
      }
    }
  }
  .snikt {
    &.left {
      transition-delay: 0s;
    }
    &.right {
      transition-delay: 0.2s;
    }
  }
  &:hover,
  &:active {
    .peck {
      &.left {
        .wolverine-claw {
          height: 5rem;
          &:nth-child(2) {
            height: 5.8rem;
          }
          &:nth-child(3) {
            left: 3.5rem;
          }
        }
      }

      &.right {
        .wolverine-claw {
          &:nth-child(1) {
            height: 8.4rem;
          }
          &:nth-child(2) {
            height: 9rem;
          }
          &:nth-child(3) {
            height: 8rem;
          }
        }
      }
    }
    .snikt {
      opacity: 1;
    }
  }
}

@keyframes breathe-torso {
  0% {
    top: 0;
  }
  50% {
    top: 5px;
  }
  100% {
    top: 0;
  }
}

@keyframes breathe-head {
  0% {
    top: -4.8rem;
  }
  50% {
    top: -4.3rem;
  }
  100% {
    top: -4.8rem;
  }
}
